<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자 근처에 있는 기프티콘 사용처를 찾기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>&quot;MOA&quot;앱이 사용자의 위치를 사용하도록 허용하겠습니까?</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaobf03c19812c2592749f57575c7991802</string>
			</array>
		</dict>
	</array>
	<key>KakaoApiKey</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaotalk</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
