<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/abseil-cpp-binary</string>
			<key>Title</key>
			<string>abseil (1.2024011602.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/app-check</string>
			<key>Title</key>
			<string>AppCheck (11.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/AppAuth-iOS</string>
			<key>Title</key>
			<string>AppAuth (1.7.6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/firebase-ios-sdk</string>
			<key>Title</key>
			<string>Firebase (11.7.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement (11.7.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport (10.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GoogleMLKit</string>
			<key>Title</key>
			<string>GoogleMLKit (7.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GoogleToolboxForMac</string>
			<key>Title</key>
			<string>GoogleToolboxForMac (4.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities (8.0.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/grpc-binary</string>
			<key>Title</key>
			<string>gRPC (1.65.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/GTMSessionFetcher</string>
			<key>Title</key>
			<string>GTMSessionFetcher (3.5.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/MLImage</string>
			<key>Title</key>
			<string>MLImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/MLKitBarcodeScanning</string>
			<key>Title</key>
			<string>MLKitBarcodeScanning (6.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/MLKitCommon</string>
			<key>Title</key>
			<string>MLKitCommon (12.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/MLKitVision</string>
			<key>Title</key>
			<string>MLKitVision (8.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/nanopb</string>
			<key>Title</key>
			<string>nanopb (3.30910.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MOA/PromisesObjC</string>
			<key>Title</key>
			<string>PromisesObjC (2.4.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
